
.border
{
    border: 1px solid darkgray;
    border-radius: 3px;
}

.margin
{
    margin: 3px;
}

.choose .layer
{
    position: fixed; 
    z-index: 100; 
    background-color: black; 
    opacity: 0.3; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

.choose .panel
{
    position: fixed; 
    z-index: 110; 
    background-color: white; 
    padding: 9px; 
    top: 0; 
    left: 0; 
    width: 30%; 
    margin-left: 30%; 
    margin-top: 10%;
}

.choose .margin
{
    margin: 3px;
}
